body {
    margin: 0;
    padding: 0;
    outline: 0;
    color: black;
    /* padding: 0 64px 0 64px; */
    font-family: "Roboto", "Sans Serif";
}

* {
    box-sizing: border-box;
}

nav > li {
    padding: 15px;
    height: auto;
}

#mfont-16{
    font-size: 16px;
    font-weight: 900;
}

#mfont-12{
    font-size: 12px;
}

#mylogo {
    display: flex;
    align-items: row;
}

#mylogo > img {
    width: 50px;
}

#mylogo-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width:460px) {
    #mfont-16{
        font-size: 14px;
        font-weight: 900;
    }
    
    #mfont-12{
        font-size: 10px;
    }
    
    #mylogo > img {
        width: 50px;
    }
    
    #mylogo-text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
}

@media (max-width:800px) and (min-width:461px) {
    #mfont-16{
        font-size: 12px;
        font-weight: 900;
    }
    
    #mfont-12{
        font-size: 10px;
    }
    
    #mylogo > img {
        width: 50px;
    }
    
    #mylogo-text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
}
