body {
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Sans Serif";
}

* {
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
}

.container1 {
    background-color: #B9D1F0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 45px 32px;
    gap: 30px;
}

.container1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

    width: 50%;
    height: auto;
}


.container1-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

    width: 50%;
    height: auto;
}

.container1-right > img {
    width: 100%;
    border-radius: 20px;
}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.container2sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    height: auto;
    width: 90%;
}

.aboutcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 100%;
    height: auto;
}

.aboutcon > img {
    width: 30%;
}

.aboutconsub {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 100%;
    height: auto;
}

.aboutconsubp1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #001B36;
}

.aboutconsubp2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    width: 100%;
    height: auto;
    gap: 20px;
    margin-bottom: 50px;
}

.container4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;
    gap: 32px;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 32px;
    gap: 30px;
    width: 100%;
    height: auto;
    background: #EEEEEE;
}

.container5sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
    width: 100%;
    height: auto;
}

.container5sub-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 55%;
    height: auto;
}

.container5sub-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 45%;
    height: auto;
}

.container7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #B9D1F0;
}

.container7-left {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 50%;
    height: auto;
}

.container7-left-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 56px 30px 25px;
    gap: 5px;
    width: 100%;
    height: auto;
}

.container7-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
}

.container7-right-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 100%;
    height: 420px;
    background-image: url('images/mallet.png');    
}

.container7-right-sub > h2 {
    display: none;
}

.container8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.event-container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 0px 32px;
}

.event-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    border: 1px solid #144270;
    border-radius: 10px;
}

.event-card-image {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.event-card-image > img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.event-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 15px 5px;
    gap: 10px;

    width: 100%;
    height: auto;
}

.event-card-datetime {
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    gap: 10px;
    
    width: 100%;
    height: 40px;
    background: #144270;
    border-top: 1px solid #808080;
    border-radius: 0px 0px 10px 10px;
}

.press-release-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 32px;
    width: 100%;
    height: auto;
    background: #B9D1F0;
    margin-top: 100px;
    margin-bottom: 150px;
}

.press-pdf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 20px;
    width: 100%;
    height: auto;
}

.pdf-file {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 0px;
    gap: 5px;  
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #144270;
    border-radius: 10px;
}

.pdf-file-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 100%;
    height: auto;
}

.pdf-file-sub > img {
    width: 40px;
}

.container10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    gap: 25px;
    
    width: 100%;
    height: auto;
    background: #B9D1F0; 
    margin-bottom: 25px;
}

.album-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 20px;
    
    width: 100%;
    height: auto;
}

.tags1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.tags2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.album-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 23px;
    width: 100%;
    height: auto;
}

/* .album-images > img {
    width: 40%;
    border-radius: 10px;
} */

.pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 32px;
    
    width: 100%;
    height: auto;
    
    background: #B9D1F0;
    margin-bottom: 50px;
}

.pricing-container-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 25px;
    gap: 15px;
    
    width: 100%;
    height: auto;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 100%;
    height: auto;
    
    /* Primary */
    
    border: 1px solid #144270;
    border-radius: 10px;
    background-color: white;
}

.pricing-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0px;
    gap: 5px;
}

.h1style {
    width: 100%;
    height: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 42px;
    /* or 117% */

    display: flex;
    align-items: center;

    /* Primary */

    color: #144270;
}

.h1style-alt {
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    display: flex;
    color: #144270;
}

.h2style {
    font-weight: 800;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #144270;
}

.h3style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    color: #001B36;
}

.h3style-alt {
    font-weight: 300;
    font-size: 22px;
    line-height: 39px;
    color: #144270;
}

.h4style {
    font-weight: 800;
    font-size: 22px;
    line-height: 20px;

    display: flex;
    align-items: center;
    /* Primary */

    color: #144270;
}

.p1style {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 120% */
    align-items: center;
    letter-spacing: 0.04em;

    color: #25262A;
}

.p2style {
    width: 90%;
    height: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #000000;
}

.p4style {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;    
    color: #FFFFFF;
}

.p5style {
    height: 24px;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    /* identical to box height, or 48% */
    
    letter-spacing: 0.04em;
    color: #25262A;
}

.p6style {
    height: 24px;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #25262A;
}

.p7style {
    width: 75%;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #25262A;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
    
    width: 90px;
    height: 35px;
    
    /* Primary */
    
    background: #144270;
    border-radius: 5px;
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
 
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.button-alt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 8px;
    
    width: auto;
    height: auto;
    background: #144270;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.04em;
}

.button-alt-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    gap: 10px;
    
    width: 120px;
    height: 50px;
    margin: 0 auto;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    /* Primary */
    
    background: #144270;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.hr2 {
    width: 120px;
    margin: 0 auto;
    border: 1px solid #144270;
    margin-bottom: 20px;   
}